<%- include('../includes/header.ejs')%>

	<link rel="stylesheet" href="/assets/customCSS/login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>
<body>
	<div class="login-section">
        <div class="container ">
            <div class="row pt-5">
				<div class="col-lg-6 col-sm-12 login-illustration">
                    <img src="/assets/login.svg" width="80%"/>
                </div>
                <div class="col-lg-6 col-sm-12 login-form p-2">
                    <header class="mb-4"><h2>Signin</h2></header>
                    <% if(message){ %>
                        <div class="text-danger text-center h6"><i class="zmdi zmdi-alert-octagon"> </i><%=message%></div>
                    <%}%>
                    <form class="m-4" action="/signin" method="POST" >
                    
                        <div class="form-group row p-0 mx-0">
                          <label class="col-2 col-form-label">
                                <i class="zmdi zmdi-email zmdi-hc-lg"></i></label>
                          <input type="email" name="email" class="form-control col-lg-10 col-10" placeholder="Your Email">     
                        </div>
                    
                        <div class="form-group row p-0 mx-0">
                            <label class="col-2 col-form-label">
                                <i class="zmdi zmdi-lock zmdi-hc-lg"></i>
                            </label>
                            <input type="password" name="password" class="form-control col-10" placeholder="Your Password">
                        </div>

                        <!-- <div class="bg-light float-right" style="width: 230px;"> 
                            <h5>Demo Credential</h5> 
                            <h6>Email : johndoe@gmail.com </h6>
                            <h6>password : john123  </h6>
                        </div> -->
                        <input type="submit" class="btn btn-primary btn-lg m-3" value="Submit"> </input>
                       
						<hr>
						<div class="text-center">
									Or
							<h5>Login with </h5>
                            <div class="d-flex justify-content-center align-item-center">   
                                <button class="btn btn-danger btn-lg px-5 mx-2 d-inline" disabled>
                                    <i class="zmdi zmdi-google"></i>
                                </button>
							    <button class="btn btn-primary btn-lg px-5 mx-2 d-inline" disabled>
                                    <i class="zmdi zmdi-twitter"></i>
                                </button>
                            </div>
							
						</div>

                        <div class="text-muted mt-2">Don't have account?<a href="/signup" >SIGN UP</a></div>

                      </form>
                </div>
                
            </div>
           
        </div>
    </div>
	<%- include('../includes/footer.ejs')%>
</body>