<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="/assets/customCSS/issue-notice.css">
<%- include('../includes/navigation.ejs')%>

	<div class="container-fluid p-3 mt-3 d-flex align-items-center justify-content-center">
		<form class="notice-form p-2" action="/issue-notice" method="POST">
			<h2 class="text-lead text-center"> Fill Your Notice 👇 </h2>
			<div class="form-group mt-3">
			  <label class="h5 text-muted">Subject</label>
			  <input type="text"  name="subject" class="form-control form-control-lg" placeholder="title/subject for issuing notice" >
			</div>
	
			<div class="form-group">
			  <label class="h5 text-muted">Content</label>
			  <textarea class="form-control form-control-xl" name="content" rows="6"></textarea>
			</div>
			
			 <div class="form-group ">
				<label class="h5 text-muted">Issue Notice For: </label>
                <select class=" custom-select custom-select-md mb-3" name="noticeFor" onchange={selectRole(this)}>
                    <option value="student">Student</option>
                    <option value="faculty">Faculty</option>
                    <option value="both">Both</option>           
                </select>
            </div>

			<input class="form-control form-control-lg" type="text" name="designation" placeholder="Enter Your Designation">
			<span class="text-lead text-secondary h6">Note: your username  will be similar to your account'name </span>

			<div class="text-center"><button type="submit" class="btn btn-info btn-lg m-2 px-5 py-3">Submit</button></div>
		</form>
	</div>
	
	<%- include('../includes/footer.ejs')%>
</body>