	<%- include('../includes/header.ejs')%>

    <link rel="stylesheet" href="/assets/customCSS/post-upload.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
	<%- include('../includes/navigation.ejs')%>
  <form action="/upload-post" method="POST" enctype="multipart/form-data">
	<div class="details-zone">
		<div class="row text-center">
		  <div class="col-lg-4 offset-4">
			
				<div class="form-group">
				  <label for="exampleForm">Heading</label>
				  <input type="text" class="form-control" name="heading" id="exampleForm" placeholder="Heading">
				</div>
				<div class="form-group">
				  <label for="exampleFormControlSelect1">Criterion</label>
				  <select class="form-control" name="criterion" id="exampleFormControlSelect1">
					<option>Academics</option>
					<option>Sports</option>
					<option>Staff</option>
				  </select>
				</div>
			
				<div class="form-group">
				  <label for="exampleFormControlTextarea1">Description</label>
				  <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
		  </div>	
		</div>
	</div>
    <div class="container">
      <div class="wrapper">
        <div class="image">
          <img src="" alt="">
        </div>
	    	<div class="content">
          <div class="icon">
			      <i class="fas fa-cloud-upload-alt"></i>
		      </div>
		      <div class="text">
			      No file chosen, yet!
		      </div>
        </div>
		    <div id="cancel-btn">
		    	<i class="fas fa-times"></i>
		    </div>
		    <div class="file-name">
			    File name here
	    	</div>
    	</div>
    	<input typr="file" name="myupload" onclick="defaultBtnActive()" id="custom-btn" placeholder="Choose a file"></button>
      <input id="default-btn" type="file" name="myupload" hidden>
    </div>
    <div>	<input type="submit" class="btn btn-success btn-lg mt-5"></input></div>
    </form>
	<script>
      const wrapper = document.querySelector(".wrapper");
      const fileName = document.querySelector(".file-name");
      const defaultBtn = document.querySelector("#default-btn");
      const customBtn = document.querySelector("#custom-btn");
      const cancelBtn = document.querySelector("#cancel-btn i");
      const img = document.querySelector("img");
      let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
      function defaultBtnActive(){
        defaultBtn.click();
      }
      defaultBtn.addEventListener("change", function(){
        const file = this.files[0];
        if(file){
          const reader = new FileReader();
          reader.onload = function(){
            const result = reader.result;
            img.src = result;
            wrapper.classList.add("active");
          }
          cancelBtn.addEventListener("click", function(){
            img.src = "";
            wrapper.classList.remove("active");
          })
          reader.readAsDataURL(file);
        }
        if(this.value){
          let valueStore = this.value.match(regExp);
          fileName.textContent = valueStore;
        }
      });
    </script>
	<%- include('../includes/footer.ejs')%>
  </body>
</html>
