<link rel="stylesheet" href="/assets/customCSS/navigation.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-danger m-o" style="box-sizing: border-box; width: 100%;">

	<a class="navbar-brand text-info" href="#">Muggle Academy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse " id="navbarText">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		  <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="/photos">Photos</a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="/notices">Notices</a>
		</li>
		<% if(isAdmin){ %>
		<!-- <li class="nav-item active">
			<a class="nav-link" href="/upload-post">Add Photos</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="/issue-notice">Issue Notice</a>
		</li> -->
		
		<li class="nav-item dropdown">
			<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Add Content
			</a>
		
			<div class="dropdown-menu bg-light text-dark " aria-labelledby="dropdownMenuButton">
			  <a class="dropdown-item  p-3" href="/launch-course">Create Course</a>
			  <a class="dropdown-item  p-3" href="/upload-post">Upload Photos</a>
			  <a class="dropdown-item p-3" href="/issue-notice">Issue Notice</a>
			  <!-- <a class="dropdown-item p-3" href="/logout ">logout</a> -->
			</div>
		</li>

		<% } %>
		<% if(isAutherized){%>
		<li class="nav-item active">
			<a class="nav-link" href="/my-courses">My Courses</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  More
			</a>
		
			<div class="dropdown-menu bg-light text-dark " aria-labelledby="dropdownMenuButton">
			  <a class="dropdown-item  p-3" href="/profile">profile</a>
			  <a class="dropdown-item p-3" href="/archieve">archieve notice</a>
			  <!-- <a class="dropdown-item p-3" href="/logout ">logout</a> -->
			</div>
		</li>
		<% } %>
		
	  </ul>
	  
		<span class="navbar-text d-inline mr-5 ">
			<% if(username){ %>
				<div class="d-inline ml-1">Hello <%= username%>!</div>
			<% } else { %>
				<div class="d-inline ml-1"></div>
		    <% } %>
		  <% if(isAutherized){ %>	
			
			<a href="/logout" class="btn btn-danger btn-lg">Logout</a>
			<% }else{%>
				<a href="/signin" class="btn btn-info btn-lg">Sign in</a>
			<% } %>
			
		  </span>


	</div>
  </nav>