<%- include('../includes/header.ejs')%>

<link rel="stylesheet" href="/assets/customCSS/error.css">

<div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            class="row w-100 d-flex justify-content-center align-items-center error-403-wrapper"
          >
            <div class="col-md-12">
              <p class="heading mb-0">Error 404</p>
              <!-- <p>You might be thinking</p> -->
              <img src="https://spng.pinpng.com/pngs/s/159-1594057_error-png-error-transparent-png.png"  class="featured-image" />
              <p class="mt-3">
                and we are looking for it, till then you can
                <a href="/">Click here to return to the Homepage.</a>
              </p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
              <div class="d-flex">&copy; Mayur_keswani</div>
            </div>
          </div>
        </div>
      </div>
</div>

<%- include('../includes/footer.ejs') %>
</body>

</html>