@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
.signup{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color:f1eeee ;
}
.container{
	width: 90%;
	
	box-sizing: border-box;
	display: flex;
	background-color: #f1eeee;
	box-shadow: 26px 26px 51px #cdcaca,
	-26px -26px 51px #ffffff;
	border-radius: 10px;
}
.signup-form header{
	font-family: 'Ramabhadra', sans-serif;
}
.form-group input{
	border:0px solid black;
	border-bottom:1px solid black;
	/* background-color: #f2f2f3; */
}
.signup-illustration{
	display: flex;
	align-items: center;
	justify-content: center;
}